.jumbotron{
    text-align: center;
    color: white;
    background-color: navy;
    font-size: 48px;
    font-family: 'Special Elite', cursive;
}

.badUV{
    background-color: orangered;
}

.mediumUV{
    background-color: yellow;
}

.goodUV{
    background-color: green;
}
